@charset "utf-8";
@import "reset";


$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 560px;  // スマホ
$sp-second: 425px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}


@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin sp-second {
    @media (max-width: ($sp-second)) {
      @content;
    }
  }

  @mixin h2_title {
    border-radius: 12px;
    background-image: url(../img/price/title.png);
    background-position: center;
    background-size: 100%;
    color: #FFFFFF;
    font-size: 26px;
    padding-left: 34px;
    height: 76px;
    line-height: 76px;
    margin: 0 auto;
    margin-bottom: 34px;
    width: 600px;
}

html{

body{
  font-family: 'Noto Sans JP', sans-serif;

  header{
    .header_wrap{
      max-width: 1060px;
      width: 100%;
      margin: 0 auto;
      padding: 32px 0 31px ;

      .header_block{
        display: flex;
        justify-content: space-between;
    
      .header_logo{
        display: flex;
        img{
          width: 70px;
        }/*img*/

        h1{
          font-size: 34px;
          .header_logo_sub{
            display: block;
            font-size: 15px;
          }/*logo_sub*/
        }/*h1*/
      }/*logo*/

      .header_info{
        display: flex;
        align-items: center;
        color: #6B7483;
        font-weight: bold;

        .header_contact{
          text-align: center;
          padding-right: 24.4px;
          border-right: 1px solid #6B7483;
        }

        .header_tel{
          padding-left: 25.6px;
          margin-right: 23px;

          p{
            
            span{
              margin-left: 12px;
              font-family: 'Oswald', sans-serif;
              font-weight: 500;
              img{
                width: 13px;
              }
            }
          }

        }

        .btn{
          width: 218px;
          margin: 0 auto;

          @include tab{
              width: 250px;
          }

          @include sp{
              margin: 0 auto;
              width: 99%;
          }

          a{
              display: block;
              text-align: center;
              font-size: 17px;
              line-height: 17px;
              padding: 15px 0px 16px;
              color: white;
              background-color: #6B7483;
              border-radius: 28px;  
              font-weight: bold; 
              letter-spacing: 0.7px;
              
              @include sp{
                  padding: 20px 0px;
              }

          }/*a*/
      }/*btn*/

      .btn:hover{
        opacity: 0.8;
        transition: .3s;
      }
      }/*info*/
    }/*block*/

    .header_nav{
      margin-top: 39px;

      ul{
        display: flex;
        justify-content: center;

        li{
          border-right: 1px solid #222222;
          color: #222222;
          list-style: none;
          -webkit-transform: skewX(150deg);
          -moz-transform: skewX(150deg);
          transform: skewX(150deg);

          a{
            padding: 0 18px;
            display:block;
            transform: skewX(-150deg);
            font-size: 18px;
            font-weight: bold;
          }

        }/*li*/
      }/*ul*/
    }/*nav*/

    }/*warp*/
  }/*header*/

  .mainvisual{
    background-image: url(../img/service/mv-mainvisual.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 45vw;
    width: 100%;
    position: relative;


    &_wrap{
      background-image: url(../img/service/mv-background.png);
      background-size: contain;  
      background-repeat: no-repeat;
      height: 45vw;
      width: 100%;

      .mv_inner_text{
        background-color: #FFFFFF;
        max-width: 711px;
        width: 100%;
        padding: 71px 0px;
        text-align: center;
        border-radius: 13px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform : translate(-50%,-50%);
        transform : translate(-50%,-50%);
        background-image: url(../img/common/border-colorful.png);
        background-position: center;

        .top_inner_title{
          font-weight: 900;
          font-size: 42px;
        }/*inner_title*/

      }/*mv-inner-teext*/
    }

  }/*mainvisual*/




  .intro_top{
    margin-top: 136px;
    margin-bottom: 120px;
  
    .intro_wrap{
        text-align: center;
        .top_text{
            font-size: 25px;
            color: #6B7483;
            line-height: 2;
            font-weight: bold;
            letter-spacing: 0.625px;
            margin-bottom: 98px;
        }/*text*/
    }/*wrap*/
  }/*introtop*/
  


  .content{
      margin-top: 85px;

      &_box{
          max-width: 1200px;
          width: 100%;
          margin:  0 auto;
          padding: 94px 100px 134px 100px;
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
          border-radius: 41px;
          display: flex;
          justify-content: space-between;


          .archive_wrap{
            h2{
                @include h2_title;
            }/*h2*/
          

          .archive_box{
              width: 600px;
              background-color: rgb(243, 243, 243);
              box-shadow: 0px 0px 30px rgba(0,0,0,0.08);
              height: 180px;
              padding: 30px 20px;
              margin-bottom: 30px;
              border: 1px solid rgb(151, 151, 151);

              .title{
                  margin-bottom: 20px;
                  padding-bottom: 5px;
                  border-bottom: 1px solid rgb(155, 155, 155);
                  
                  .date{
                      margin-right: 15px;
                  }
                }/*title*/


            .text_content{
                font-size: 14px;
                line-height: 1.8;
            }/*text-content*/
            
          }/*archive_box*/

        }/*archive_wrap*/


          .sidebar{
            width: 330px;
            background-color: rgb(243, 243, 243);
            box-shadow: 0px 0px 30px rgba(0,0,0,0.08);
            padding: 37px 38px;
            height: auto;

            .recent_post_title{
                margin-bottom: 10px;
            }

            .post_block{
                border-bottom: 1px solid #DBDBDB;

                a{
                    padding: 20px 0px;
                    display: block;
                    transition: .3s;


                .date{
                    margin-bottom: 10px;
                }

            .sidebar_title{
                font-size: 14px;
                font-weight: normal;
            }

        }/*a*/

        a:hover{
            background-color: #ebebeb;
            transition: .3s;
        }

            }/*post_block*/

            .post_block:first-of-type{
                border-top: 1px solid #DBDBDB;
            }


            .category_title{
                margin-top: 30px;
                margin-bottom: 10px;
            }/*category_title*/

                .category{
                    li{
                        text-indent: 1.5em;
                    }
                }/*categgory*/


            .archive_title{
                margin-top: 30px;
                margin-bottom: 10px;
            }/*archive_title*/

                .archive_side_date_block{
                    li{
                        text-indent: 1.5em;
                    }
                }/*archive_side_date_block*/

            

            



          }/*sidebar*/
       





          

          

        



      }/*box*/
  }/*content*/


.contact_wrap{
    margin-bottom: 94px;
    margin-top: 109px;

    .contact_title{
      font-size: 26px;
      margin-bottom: 36px;
      text-align: center;
    }

    .btn{
        width: 708px;
        margin: 0 auto;
        height: 82px;

        @include tab{
            width: 250px;
        }

        @include sp{
            margin: 0 auto;
            width: 99%;
        }

        a{
            display: block;
            text-align: center;
            font-size: 24px;
            line-height: 17px;
            color: #222222;
            background-color: #FBD362;
            border-radius: 41px;  
            font-weight: bold; 
            letter-spacing: 1.2px;
            line-height: 82px;
            height: 82px;

            
            @include sp{
                padding: 20px 0px;
            }

        }/*a*/
    }/*btn*/

    .btn:hover{
      opacity: 0.8;
      transition: .3s;
    }

    .reservation{
        text-align: center;
        margin-top: 42px;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.45px;
    }

    .contact_tel{
        padding-left: 25.6px;
        margin-right: 23px;
        display: flex;
        justify-content: center;
        margin-top: 13px;

        p{
            color: #F79E46;
            letter-spacing: 2.6px;
            font-weight: bold;
            font-size: 26px;

          .number{
            margin-left: 12px;
            font-family: 'Oswald', sans-serif;
            font-weight: 500;
            letter-spacing: 1.4px;
            align-items: center;
            font-size: 28px;

            img{
              width: 18px;
              margin-left: 17.4px;
              margin-right: 4px;
            }/*img*/

          }/*span*/
        }/*p*/
      }/*cotact_tel*/

      #shinjuku{
          margin-right: 18px;
      }

      #yokohama{
        margin-left: 18px;
    }



}/*contact_wrap*/


  
  footer{
    background-color: #515B5D;

    .footer_wrap{
      padding-top: 94px;
      padding-bottom: 90px;
      max-width: 992px;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;

      @include pc{
        padding-right:20px;
        padding-left: 20px;
      }

      .footer_nav{
        ul{
          .nav_top_title{
            font-weight: bold;
            margin-bottom: 10px;
            font-size: 18px;
            letter-spacing: 0.45px;

            @include pc{
              font-size: 16px;
            }


          }/*top_title*/

          .nav_title{
            font-weight: bold;
            margin-top: 19px;
            font-size: 18px;
            letter-spacing: 0.45px;
            @include pc{
              font-size: 14px;
              margin-top: 14px;
            }
          }/*top_title*/

          li{
            list-style: none;  
            a{
              display: block;
              color: white;
            }

            a:hover{
              opacity: .7;
            }


          }

          .nav_list{
            line-height: 1.8;
            font-size: 15px;
            letter-spacing: 0.375px;
            @include pc{
              font-size: 12px;
            }

          }/*navlist*/

        }
      }

    }/*wrap*/
  }/*footer*/

}/*body*/
}
