@charset "utf-8";
@import "reset";


$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 560px;  // スマホ
$sp-second: 425px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}


@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin sp-second {
    @media (max-width: ($sp-second)) {
      @content;
    }
  }

  @mixin h2_title {
    border-radius: 12px;
    background-image: url(../img/common/title_yellow.png);
    background-position: center;
    background-size: 100%;
    color: #FFFFFF;
    font-size: 26px;
    padding-left: 34px;
    height: 76px;
    line-height: 76px;
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 34px;
    font-weight: 900;
    letter-spacing: 0.65px;

  
    @include tab{
      width: 100%;
      height: 50px;
      line-height: 50px;
      font-size: 22px;
      padding-left: 20px;
      background-size: 100% 100%;
    }

    @include sp{
      font-size: 18px;
      padding-left: 10px;
    }

}

html{

body{
  font-family: 'Noto Sans JP', sans-serif;
  color: #222222;

  
 
  header{
    .header_wrap{
      max-width: 1500px;
      width: 95%;
      margin: 0 auto;
      padding: 32px 0 31px ;

      @include pc{
        max-width: 1024px;
        width: 95%;
      }

      .header_block{
        display: flex;
        justify-content: space-between;
    
      .header_logo{
        display: flex;

        img{
          width: 70px;
        }/*img*/

        h1{
          font-size: 34px;

          @include pc{
            font-size: 30px;
          }

          .header_logo_sub{
            display: block;
            font-size: 15px;
          }/*logo_sub*/
        }/*h1*/
      }/*logo*/

      .header_info{
        display: flex;
        align-items: center;
        color: #6B7483;
        font-weight: bold;

        @include tab{
          display: none;
        }

        .header_contact{
          text-align: center;
          padding-right: 24.4px;
          border-right: 1px solid #6B7483;
          font-size: 18px;


          @include pc{
            padding-right: 12px;
            font-size: 14px;
          }
  
        }

        .header_tel{
          padding-left: 25.6px;
          margin-right: 23px;
          font-size: 20px;

          @include pc{
            display: none;
          }

          .area{
            font-size: 18px;

            
            span{
              margin-left: 12px;
              font-family: 'Oswald', sans-serif;
              font-weight: 500;
              font-size: 20px;

              img{
                width: 19px;
                height: 18px;
                margin-right: 2px;
              }/*img*/
            }/*span*/
          }/*area*/

        }

        .btn{
          width: 218px;
          margin: 0 auto;

          @include pc{
            margin-left: 10px;
            width: 200px;
          }

          @include tab{
              width: 250px;
          }

          @include sp{
              margin: 0 auto;
              width: 99%;
          }

          a{
              display: block;
              text-align: center;
              font-size: 17px;
              line-height: 17px;
              padding: 15px 0px 16px;
              color: white;
              background-color: #6B7483;
              border-radius: 28px;  
              font-weight: bold; 
              letter-spacing: 0.7px;
              
              @include sp{
                  padding: 20px 0px;
              }

          }/*a*/
      }/*btn*/

      .btn:hover{
        opacity: 0.8;
        transition: .3s;
      }
      }/*info*/
    }/*block*/

    .header_nav{
      margin-top: 39px;

      @include tab{
        display: none;
        width: 350px;
        height: 100%;
        color: rgb(0, 0, 0);
        height: 100vh;
        background-color: #ffffff;
        text-align: center;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        margin-top: 0px;
        transform: translateX(0); /* right0まで-250px移動 */

      }

      ul{
        display: flex;
        justify-content: center;

        @include pc{
          margin: 0 auto;
          flex-wrap: wrap;
          width: 650px;
        }

        @include tab{
          display: inline-block;
          padding-top: 80px;
          padding-bottom: 80px;
        }

        .g-nav{
          border-right: 1px solid #222222;
          color: #222222;
          list-style: none;
          -webkit-transform: skewX(150deg);
          -moz-transform: skewX(150deg);
          transform: skewX(150deg);

          @include tab{
            -webkit-transform: skewX(0deg);
            -moz-transform: skewX(0deg);
            transform: skewX(0deg); 
            border-right: none;
          }

          a{
            padding: 0 18px;
            display:block;
            transform: skewX(-150deg);
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0.9px;


          @include tab{
            -webkit-transform: skewX(0deg);
            -moz-transform: skewX(0deg);
            transform: skewX(0deg); 
          }

          }

        }/*li*/

        li:last-child{
          border-right: none;
        }/*last-child*/

      }/*ul*/
    }/*nav*/


  
  .btn-gnavi{
  
    display: none;
  
    @include tab{
      display: initial;
        position: fixed;
        top: 25px;
        right: 4%;
        width: 30px;
        height: 24px;
        z-index: 4;
        cursor: pointer;
        transition: all 400ms;
        -webkit-transition:all 400ms;
    }
  
    @include sp{
      top: 20px;
      right: 7%;
    }
  }
  
  
  .btn-gnavi{
    z-index: 1000;
  
    @include sp-second{
    }

    span{
        @include tab{
            position: absolute;
            height: 3px;
            background: black;
            -webkit-transition: all 400ms;
            transition: all 400ms;
            right: 0;
          }
  
          @include sp-second{
            width: 45px;
          }
    
  }/*span*/
  
    span:nth-of-type(1){
  
        @include tab{
            top: 0;
            z-index: 1000;
            width: 40px;
        }
  
        @include sp{
          width: 17px;
      }
  
    }/*span*/
  
    span:nth-of-type(2){
  
        @include tab{
            top: 10px;
            z-index: 1000;
            width: 40px;
        }
  
        @include sp{
          width: 17px;
          top: 5px;
      }
  
    }/*span*/
  
    span:nth-of-type(3){
        @include tab{
            top: 20px;
            z-index: 1000;
            width: 40px;
        }
  
        @include sp{
          width: 17px;
          top: 10px;
      }
  
    }/*span*/
    
  
  }/*btn-gnavi*/
  
  
  
 .btn-gnavi.hb-open span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg);
    transition: 0.5s;

    @include sp{
      -webkit-transform: translateY(5px) rotate(-45deg);
      transform: translateY(5px) rotate(-45deg);
    }

  }
  .btn-gnavi.hb-open span:nth-of-type(2) {
    opacity: 0;
  }
  .btn-gnavi.hb-open span:nth-of-type(3) {
    -webkit-transform:translateY(-10px) rotate(230deg);
    transform: translateY(-10px) rotate(45deg);
    transition: 0.5s;
    width: 40px;

    @include sp{
      width: 17px;
      -webkit-transform:translateY(-5px) rotate(230deg);
      transform: translateY(-5px) rotate(45deg);  
    }
  }



    }/*warp*/
  }/*header*/


  .mainvisual{
    background-image: url(../img/service/mv-mainvisual.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 45vw;
    width: 100%;
    position: relative;


    &_wrap{
      background-image: url(../img/service/mv-background.png);
      background-size: cover;  
      background-repeat: no-repeat;
      height: 45vw;
      width: 100%;

      .mv_inner_text{
        background-color: #FFFFFF;
        max-width: 711px;
        width: 100%;
        padding: 51px 0px;
        text-align: center;
        border-radius: 13px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform : translate(-50%,-50%);
        transform : translate(-50%,-50%);
        background-image: url(../img/common/border-colorful.png);
        background-position: center;


        @include pc{
          padding: 50px 0px;
          max-width: 500px;
          background-size: 480px 130px;
        }

        @include tab{
          max-width: 450px;
          width: 90%;
          padding: 30px 0px;
          background-size: 410px 90px;
        }


        @include sp{
          max-width: 280px;
          width: 90%;
          padding: 25px 0px;
          background-size: 250px 72px;
        }
        
        .top_inner_text{
          font-size: 27px;
          font-weight: 900;
          

        }/*top_inner_text*/

        .top_inner_title{
          font-weight: 900;
          font-size: 42px;

          @include tab{
            font-size: 30px;
          }

          @include sp{
            font-size: 24px;
          }


        }/*inner_title*/

      }/*mv-inner-teext*/
    }

  }/*mainvisual*/



.intro_top{
  margin-top: 136px;
  margin-bottom: 120px;

  @include tab{
    margin-top: 100px;
  }

  @include sp{
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .intro_wrap{
      text-align: center;

      .top_text{
          font-size: 25px;
          color: #6B7483;
          line-height: 2;
          font-weight: bold;
          letter-spacing: 0.625px;
          margin-bottom: 98px;

          @include pc(){
            font-size: 22px;
          }

          @include tab{
            font-size: 18px;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 50px;
          }

          @include sp{
            font-size: 15px;
          }

      }/*text*/

      .intro_block{
      display: flex;
      justify-content: center;
      width: 55.7%;
      margin: 0 auto;
      align-items: center;

      @include tab{
        display: block;
        width: 400px;
      }

      @include sp{
        width: 90%;
      }


      .intro_pic{
          width: 31.3vw;
          height: 23.3vw;

          @include tab{
            width: 300px;
            height: 240px;
          }



      }/*intro_pic*/

      .intro_block_text{
          font-size: 16px;
          color: #222222;
          letter-spacing: 0.4px;
          line-height: 1.8;
          text-align: left;

          @include tab{
            margin-top: 40px;
          }

     
          
      }

      }/*block*/

  }/*wrap*/
}/*introtop*/


  .content{
    margin-top: 85px;
    margin-right: 40px;
    margin-left: 40px;

    @include tab{
      margin-right: 25px;
      margin-left: 25px;  
    }

    @include sp{
      margin-top: 35px; 
      margin-right: 15px;
      margin-left: 15px;  
    }

      &_box{
          max-width: 1200px;
          width: 100%;
          margin:  0 auto;
          padding: 94px 160px 134px 160px;
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
          border-radius: 41px;

          @include pc{
            padding: 94px 90px 134px 90px;
          }
  
          @include tab{
            padding: 67px 30px 70px 30px;
          }/*pc*/

          h2{
              @include h2_title;

          }/*h2*/

          .check_box{
              background-color: #FFF7E0;
              margin-bottom: 67px;
              

              ul{
                  padding-left: 48px;
                  padding-top: 42px;
                  padding-bottom: 39px;
                  padding-right: 25px;

                  @include sp{
                    padding-top: 28px;
                    padding-bottom: 28px;
                    }

                  li{
                      list-style: none;
                      font-size: 22px;
                      line-height: 2.5;

                      @include pc{
                        font-size: 20px;
                      }

                      @include tab{
                        font-size: 16px;
                      }

                      @include sp{
                        font-size: 14px;
                      }

                      img{
                          margin-right: 13px;


                      @include sp{
                        width: 17px;
                      }


                      }/*img*/

                  }/*li*/
              }/*ul*/
          }/*checkbox*/

          .example{
            margin-bottom: 109px;

            img{
              display: flex;
              margin: 0 auto;

              @include pc{
                max-width: 734px;
                width: 100%;
              }

            }
            &_block{
              display: flex;
              justify-content: center;

              @include pc{
                display: block;
              }

              .example_box{
                display: flex;

                @include pc{
                  justify-content: center;
                  margin-top: 50px;
                }

                
                @include sp{
                  justify-content: space-between;
                  display: block;
                }

                #female_pic{
                  margin-right: 20px;
                  margin-left: 38px;

                  @include pc{
                    margin-left: 32px;
                    width: 120px;
                    height: 360px;
                  }/*pc*/

                  @include tab{
                    width: 90px;
                    height: 300px;
                  }

                  @include sp{
                    height: 40vw;
                    width: 60px;
                    display: flex;
                    margin: 0 0 0 auto;
                  }

                }

                #male_pic{
                  margin-left: 30px;
                  margin-right: 42px;

                  @include pc{
                    margin-right: 38px;
                    width: 120px;
                    height: 360px;
                  }/*pc*/

                  @include sp{
                    height: 40vw;
                    width: 60px;
                    display: flex;
                    margin-left:0px;
                  }

                }

                .profile_block{
                  margin-top: 34px;

                  @include sp{
                    width: 80%;
                    margin:  0 auto;
                  }

                  @include sp-second(){
                    width: 100%;
                  }


                  .name{
                    color: #989898;
                    font-size: 15px;
                    margin-bottom: 14px;
                  }/*name*/

                  .check{
                    font-size: 15px;
                    color: #F79E46;
                    margin-bottom: 3px;
                    display: flex;
                    align-items: center;
                  }/*check*/

                  .check:after{
                    content: "";
                    height: 1px;
                    flex-grow: 1;
                    background-color: #F79E46;
                    margin-left: 1rem;
                  }

                  .symptom{
                    font-size: 20px;
                    color: #F79E46;
                    font-weight: 900;
                    letter-spacing: 0.5px;

                    @include sp{
                      font-size: 16px;
                    }

                  }/*symptom*/

                  .profile_text{
                    margin-top: 20px;
                    color: #222222;
                    font-size: 15px;
                    width: 266px;
                    letter-spacing: 0.375px;
                    line-height: 1.8;

                    @include sp{
                      font-size: 13px;
                      margin-top: 10px;
                      width: 100%;
                    }

                  }/*text*/

                }/*profile*/
              }/*1*/
            }/*block*/
          }/*example*/

          .curriculum{
              .curriculum_text{
                  color: #222222;
                  line-height: 1.8;
                  letter-spacing: 0.4px;
                  margin-bottom: 40px;

              }

              .flow{
                margin-bottom: 148px;

                @include sp{
                  margin-bottom: 70px;
                }

                .arrow_down{
                  margin-left: 190px;

                  @include sp{
                    display: flex;
                    margin: 0 auto;
                  }

                }

                  .program{
                      display: flex;
                      background-color: #FFF9E8;
                      justify-content: center;
                      padding: 36px 0px;
                      border-radius: 33px;
                      max-width: 784px;
                      margin: 0 auto;
                      
                      @include sp{
                        display: block;
                        padding: 36px 0px 30px 0px;
                      }


                      .program_item{
                          text-align: center;
                          margin: 0 60px;

                          @include sp{
                            display: block;
                            margin-right: 0px;
                            margin-left: 0px;
                            margin-bottom: 40px;
                          }

                          h3{
                              color: #F79E46;
                              font-size: 16px;
                              font-weight: bold;
                              line-height: 1.4;
                              letter-spacing: 0.4px;
                          }

                          img{
                              margin-top: 24px;
                              margin-bottom: 27px;
                              width: 156px;
                              border-radius: 50%;
                              box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

                            @include tab{
                              width: 23vw;
                            }

                            @include sp{
                              width:200px;
                            }

                          }

                          .program_text{
                              font-size: 14px;
                              line-height: 1.6;
                          }

                      }/*item*/

                  }/*program*/

                  .program_second{
                    display: flex;
                    justify-content: space-evenly;

                    @include sp{
                      display: block;
                    }

                    .program_item{
                        background-color: #FFF9E8;
                        text-align: center;
                        padding: 36px 0px;
                        border-radius: 33px;
                        width: 334px;

                        @include tab{
                          width: 100%;
                        }

                        @include sp{
                          display: block;
                          margin-right: 0px;
                          margin-left: 0px;
                        }

                        h3{
                            color: #F79E46;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 1.4;
                            letter-spacing: 0.4px;
                        }
                        img{
                            margin-top: 24px;
                            margin-bottom: 27px;
                            width: 156px;
                            border-radius: 50%;
                            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);


                            @include tab{
                              width: 23vw;
                            }

                            @include sp{
                              width:200px;
                            }

                        }
                        .program_text{
                            font-size: 14px;
                            line-height: 1.6;

    
                        }

                    }/*item*/

                    .arrow_right{
                      width: 70px;
                      height: 60px;
                      margin-top: 170px;


                      @include sp{
                        display: none;
                      }

                    }/*arrowright*/

                    
                #arrow_down_middle{
                  display: none;

                  @include sp{
                    display: flex;
                    margin: 0 auto;
                    
                  }

                }


                  }
              }/*flow*/
          }/*curriculum*/

          .bubble_part{
            display: flex;
            margin-bottom: 53.9px;
            justify-content: space-between;

            @include tab{
              display: block;
            }

            .bubble_text{
                width: 520px;
                line-height: 1.875;

                @include tab{
                  width: 100%;
                }
            }

            img{
                margin-right: 30px;
                margin-left: 20px;
                width: 277px;
                height: 164px;

                @include tab{
                  margin-left: auto;
                  display: flex;
                  margin-top: 20px;
                }

                @include sp-second(){
                  width: 200px;
                  height: 120px;
                }


            }/*img*/
        }
          .free_class_text{
            letter-spacing: 0.4px;
            line-height: 1.875;
          }
          
          .consulting_flow{
            display: flex;
            margin-top: 28px;
            width: 100%;

            @include tab{
              display: block;
              text-align: center;
            }

            &_box{
              text-align: center;

              @include pc{
                width: 70%;
              }
              @include tab{
                margin:  0 auto;
              }

              @include sp{
                width: 100%;
              }


              h3{
                color: #F79E46;
                font-size: 21px;
              }

              #consulting_flow_pic{
                margin-top: 22px ;
                margin-bottom: 30px;

              @include pc{
                width: 70%;
              }


              @include sp{
                width: 100%;
              }


              }/*consulting_flow_pic*/

              .consulting_flow_text{
                font-weight: 500;
                line-height: 1.88;
                font-size: 17px;

                .br_text{
                  display: none;

                  @include sp{
                    display: block;
                  }
                }


              }

              .free_block{
                background-color: #EAEEEF;
                padding: 30px 36px;
                margin-top: 21px;

           
                .free_title{
                  font-size: 20px;
                  font-weight: bold;
                  margin-bottom: 16px;
                }/*title*/

                p{
                  font-size: 14px;
                }



              }/*free_block*/

            }/*box*/

            .side_img{
              @include sp{
                display: none;
              }
            }

          }/*consulting_flow*/

      }/*box*/
  }/*content*/



  .contact_wrap{
    margin-bottom: 94px;
    margin-top: 109px;

    @include sp{
      margin-bottom: 70px;
      margin-top: 90px;
    }

    .contact_title{
      font-size: 26px;
      margin-bottom: 36px;
      text-align: center;

      @include tab{
        font-size: 22px;
      }/*tab*/

      @include sp{
        font-size: 20px;
      }

      @include sp-second(){
        font-size: 18px;
      }

    }

    .btn{
        width: 708px;
        margin: 0 auto;
        height: 82px;
  

        @include tab{
          max-width: 700px;
          width: 85%;
          height: auto;
        }

        @include sp{
          width: 80%;
          margin: 0 auto;
        }

        @include sp-second(){
          width: 280px;
        }

        a{
            display: block;
            text-align: center;
            font-size: 24px;
            line-height: 17px;
            color: #222222;
            background-color: #FBD362;
            border-radius: 41px;  
            font-weight: bold; 
            letter-spacing: 1.2px;
            line-height: 82px;
            height: 82px;

            @include tab{
              font-size: 22px;
              height: 75px;
              line-height: 75px;
            }

            @include sp{
              font-size: 20px;
              height: 65px;
              line-height: 65px;
            }

            @include sp-second(){
              font-size: 14px;
              height: 60px;
              line-height:60px;
            }
         
        }/*a*/
    }/*btn*/

    .btn:hover{
      opacity: 0.8;
      transition: .3s;
    }

    .reservation{
        text-align: center;
        margin-top: 42px;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.45px;
    }

    .contact_tel{
        padding-left: 25.6px;
        margin-right: 23px;
        display: flex;
        justify-content: center;
        margin-top: 13px;

        @include sp{
          display: block;
          margin-right: 0px;
          text-align: center;
          padding-left: 0px;
        }

        p{
            color: #F79E46;
            letter-spacing: 2.6px;
            font-weight: bold;
            font-size: 26px;

            @include tab{
              font-size: 20px;
            }

          .number{
            margin-left: 12px;
            font-family: 'Oswald', sans-serif;
            font-weight: 500;
            letter-spacing: 1.4px;
            align-items: center;
            font-size: 28px;


            @include tab{
              font-size: 22px;
            }

            img{
              width: 18px;
              margin-left: 17.4px;
              margin-right: 4px;

              @include tab{
                margin-left: 8px;
                margin-right: 4px;
                width: 14px;
                }


            }/*img*/

          }/*span*/
        }/*p*/
      }/*cotact_tel*/

      #shinjuku{
          margin-right: 18px;


          @include tab{
            margin-right: 12px;
          }

          @include sp{
            margin-right: 0px;
          }
      }/*shinjuku*/

      #yokohama{
        margin-left: 18px;

        @include tab{
          margin-right: 12px;
        }

        @include sp{
          margin: 0 auto;
        }


    }/*yokohama*/



}/*contact_wrap*/


  
  footer{
    background-color: #515B5D;

    .footer_wrap{
      padding-top: 94px;
      padding-bottom: 90px;
      max-width: 992px;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;

      @include pc{
        padding-right:20px;
        padding-left: 0px;
      }

      @include sp{
        display: block;
        padding-right:0px;
        padding-left: 0px;
        width: 300px;
      }

      @include sp{
        padding-top: 40px;
        padding-bottom: 60px;
      }



      .footer_nav{
        ul{

          @include tab{
            margin-left: 15px;
          }

          @include sp{
            margin-top: 10px;
          }

        
          .nav_top_title{
            font-weight: bold;
            margin-bottom: 10px;
            font-size: 18px;
            letter-spacing: 0.45px;

            @include pc{
              font-size: 16px;
            }


          }/*top_title*/

          .nav_title{
            font-weight: bold;
            margin-top: 19px;
            font-size: 18px;
            letter-spacing: 0.45px;
            @include pc{
              font-size: 14px;
              margin-top: 14px;
            }

          }/*top_title*/

          li{
            list-style: none;  
            a{
              display: block;
              color: white;
            }

            a:hover{
              opacity: .7;
            }


          }

          .nav_list{
            line-height: 1.8;
            font-size: 15px;
            letter-spacing: 0.375px;
            @include pc{
              font-size: 12px;
            }

          }/*navlist*/

        }
      }
    }/*wrap*/
  }/*footer*/
}/*body*/
}
