@charset "utf-8";
@import "reset";


$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 560px;  // スマホ
$sp-second: 425px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}


@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin sp-second {
    @media (max-width: ($sp-second)) {
      @content;
    }
  }

  @mixin h2_title {
    border-radius: 12px;
    background-image: url(../img/common/title_blue.png);
    background-position: center;
    background-size: 100%;
    color: #FFFFFF;
    font-size: 26px;
    padding-left: 34px;
    height: 76px;
    line-height: 76px;
    width: 880px;
    margin: 0 auto;
    margin-bottom: 34px;
    margin-top: 82px;


    @include tab{
      width: 100%;
      height: 50px;
      line-height: 50px;
      font-size: 22px;
      padding-left: 20px;
      background-size: 100% 100%;
    }

    @include sp{
      font-size: 18px;
      padding-left: 10px;
    }



}

html{

body{
  font-family: 'Noto Sans JP', sans-serif;
  color: #222222;

  
  header{
    .header_wrap{
      max-width: 1500px;
      width: 95%;
      margin: 0 auto;
      padding: 32px 0 31px ;

      @include pc{
        max-width: 1024px;
        width: 95%;
      }

      .header_block{
        display: flex;
        justify-content: space-between;
    
      .header_logo{
        display: flex;

        img{
          width: 70px;
        }/*img*/

        h1{
          font-size: 34px;

          @include pc{
            font-size: 30px;
          }

          .header_logo_sub{
            display: block;
            font-size: 15px;
          }/*logo_sub*/
        }/*h1*/
      }/*logo*/

      .header_info{
        display: flex;
        align-items: center;
        color: #6B7483;
        font-weight: bold;

        .header_contact{
          text-align: center;
          padding-right: 24.4px;
          border-right: 1px solid #6B7483;
          font-size: 18px;


          @include pc{
            padding-right: 12px;
            font-size: 14px;
          }
  
        }

        .header_tel{
          padding-left: 25.6px;
          margin-right: 23px;
          font-size: 20px;

          @include pc{
            display: none;
          }

          .area{
            font-size: 18px;

            
            span{
              margin-left: 12px;
              font-family: 'Oswald', sans-serif;
              font-weight: 500;
              font-size: 20px;

              img{
                width: 13px;
              }
            }
          }

        }

        .btn{
          width: 218px;
          margin: 0 auto;

          @include pc{
            margin-left: 10px;
            width: 200px;
          }

          @include tab{
              width: 250px;
          }

          @include sp{
              margin: 0 auto;
              width: 99%;
          }

          a{
              display: block;
              text-align: center;
              font-size: 17px;
              line-height: 17px;
              padding: 15px 0px 16px;
              color: white;
              background-color: #6B7483;
              border-radius: 28px;  
              font-weight: bold; 
              letter-spacing: 0.7px;
              
              @include sp{
                  padding: 20px 0px;
              }

          }/*a*/
      }/*btn*/

      .btn:hover{
        opacity: 0.8;
        transition: .3s;
      }
      }/*info*/
    }/*block*/

    .header_nav{
      margin-top: 39px;

      ul{
        display: flex;
        justify-content: center;

        @include pc{
          margin: 0 auto;
          flex-wrap: wrap;
          width: 650px;
        }

        li{
          border-right: 1px solid #222222;
          color: #222222;
          list-style: none;
          -webkit-transform: skewX(150deg);
          -moz-transform: skewX(150deg);
          transform: skewX(150deg);

          a{
            padding: 0 18px;
            display:block;
            transform: skewX(-150deg);
            font-size: 18px;
            font-weight: bold;
          }

        }/*li*/

        li:last-child{
          border-right: none;
        }/*last-child*/

      }/*ul*/
    }/*nav*/

    }/*warp*/
  }/*header*/

  .mainvisual{
    background-image: url(../img/service/mv-mainvisual.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 45vw;
    width: 100%;
    position: relative;


    &_wrap{
      background-image: url(../img/service/mv-background.png);
      background-size: contain;  
      background-repeat: no-repeat;
      height: 45vw;
      width: 100%;

      .mv_inner_text{
        background-color: #FFFFFF;
        max-width: 711px;
        width: 100%;
        padding: 71px 0px;
        text-align: center;
        border-radius: 13px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform : translate(-50%,-50%);
        transform : translate(-50%,-50%);
        background-image: url(../img/common/border-colorful.png);
        background-position: center;

        .top_inner_title{
          font-weight: 900;
          font-size: 42px;
        }/*inner_title*/

      }/*mv-inner-teext*/
    }

  }/*mainvisual*/




  .content{
      margin-top: 85px;

      &_box{
          max-width: 1200px;
          width: 100%;
          margin:  0 auto;
          padding: 94px 160px 134px 160px;
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
          border-radius: 41px;
  

          h2{
              @include h2_title;
          }/*h2*/

        }
}/*contact_wrap*/


  
  footer{
    background-color: #515B5D;

    .footer_wrap{
      padding-top: 94px;
      padding-bottom: 90px;
      max-width: 992px;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;

      @include pc{
        padding-right:20px;
        padding-left: 20px;
      }

      .footer_nav{
        ul{
          .nav_top_title{
            font-weight: bold;
            margin-bottom: 10px;
            font-size: 18px;
            letter-spacing: 0.45px;

            @include pc{
              font-size: 16px;
            }


          }/*top_title*/

          .nav_title{
            font-weight: bold;
            margin-top: 19px;
            font-size: 18px;
            letter-spacing: 0.45px;
            @include pc{
              font-size: 14px;
              margin-top: 14px;
            }
          }/*top_title*/

          li{
            list-style: none;  
            a{
              display: block;
              color: white;
            }

            a:hover{
              opacity: .7;
            }


          }

          .nav_list{
            line-height: 1.8;
            font-size: 15px;
            letter-spacing: 0.375px;
            @include pc{
              font-size: 12px;
            }

          }/*navlist*/

        }
      }

    }/*wrap*/
  }/*footer*/

}/*body*/
}
@charset "utf-8";
@import "reset";


$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 560px;  // スマホ
$sp-second: 425px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}


@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin sp-second {
    @media (max-width: ($sp-second)) {
      @content;
    }
  }

  @mixin h2_title {
    border-radius: 12px;
    background-image: url(../img/common/title_blue.png);
    background-position: center;
    background-size: 100%;
    color: #FFFFFF;
    font-size: 26px;
    padding-left: 34px;
    height: 76px;
    line-height: 76px;
    width: 880px;
    margin: 0 auto;
    margin-bottom: 34px;
    margin-top: 82px;
}

html{

body{
  font-family: 'Noto Sans JP', sans-serif;
  color: #222222;

  header{
    .header_wrap{
      max-width: 1060px;
      width: 100%;
      margin: 0 auto;
      padding: 32px 0 31px ;

      .header_block{
        display: flex;
        justify-content: space-between;
    
      .header_logo{
        display: flex;
        img{
          width: 70px;
        }/*img*/

        h1{
          font-size: 34px;
          .header_logo_sub{
            display: block;
            font-size: 15px;
          }/*logo_sub*/
        }/*h1*/
      }/*logo*/

      .header_info{
        display: flex;
        align-items: center;
        color: #6B7483;
        font-weight: bold;



        .header_contact{
          text-align: center;
          padding-right: 24.4px;
          border-right: 1px solid #6B7483;
        }

        .header_tel{
          padding-left: 25.6px;
          margin-right: 23px;

          p{
            
            span{
              margin-left: 12px;
              font-family: 'Oswald', sans-serif;
              font-weight: 500;
             
              img{
                width: 19px;
                height: 18px;
                margin-right: 2px;
              }/*img*/
            }/*span*/
          }/*area*/

        }

        .btn{
          width: 218px;
          margin: 0 auto;

          @include tab{
              width: 250px;
          }

          @include sp{
              margin: 0 auto;
              width: 99%;
          }

          a{
              display: block;
              text-align: center;
              font-size: 17px;
              line-height: 17px;
              padding: 15px 0px 16px;
              color: white;
              background-color: #6B7483;
              border-radius: 28px;  
              font-weight: bold; 
              letter-spacing: 0.7px;
              
              @include sp{
                  padding: 20px 0px;
              }

          }/*a*/
      }/*btn*/

      .btn:hover{
        opacity: 0.8;
        transition: .3s;
      }
      }/*info*/
    }/*block*/

    .header_nav{
      margin-top: 39px;

      ul{
        display: flex;
        justify-content: center;

        li{
          border-right: 1px solid #222222;
          color: #222222;
          list-style: none;
          -webkit-transform: skewX(150deg);
          -moz-transform: skewX(150deg);
          transform: skewX(150deg);

          a{
            padding: 0 18px;
            display:block;
            transform: skewX(-150deg);
            font-size: 18px;
            font-weight: bold;
          }

        }/*li*/
      }/*ul*/
    }/*nav*/

    }/*warp*/
  }/*header*/

  .mainvisual{
    background-image: url(../img/service/mv-mainvisual.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 45vw;
    width: 100%;
    position: relative;


    &_wrap{
      background-image: url(../img/service/mv-background.png);
      background-size: contain;  
      background-repeat: no-repeat;
      height: 45vw;
      width: 100%;

      .mv_inner_text{
        background-color: #FFFFFF;
        max-width: 711px;
        width: 100%;
        padding: 71px 0px;
        text-align: center;
        border-radius: 13px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform : translate(-50%,-50%);
        transform : translate(-50%,-50%);
        background-image: url(../img/common/border-colorful.png);
        background-position: center;

        .top_inner_title{
          font-weight: 900;
          font-size: 42px;
        }/*inner_title*/

      }/*mv-inner-teext*/
    }

  }/*mainvisual*/




  .content{
      margin-top: 85px;

      &_box{
          max-width: 1200px;
          width: 100%;
          margin:  0 auto;
          padding: 94px 160px 134px 160px;
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
          border-radius: 41px;
  

          h2{
              @include h2_title;

          }/*h2*/

          .company_table{
              width: 100%;
              border-spacing: 13px 4px;

              tr{
                  th{
                      font-size: 26px;
                      font-weight: bold;
                      background-color: #F2F2F2;
                      padding: 35px 0 35px 50px;
                      width: 256px;
                      text-align: left;
                  }

                  td{
                    background-color: #F2F2F2;
                    padding: 39px 0 36px 47px;
                    font-size: 22px;
                }
              }/*tr*/
          }/*company_table*/

          .text{
              line-height: 1.8;
          }/*text*/

          .group_table{
              display: flex;
              margin-bottom: 4px;

              .group_left{
                  background-color: #F2F2F2;
                  width: 50%;
                  padding-top: 38px;
                  padding-left: 17px;
                  padding-right: 52px;
                  margin-right: 2px;
                  height: 383px;
              }/*right*/

              .group_right{
                width: 50%;
                padding-top: 38px;
                padding-left: 17px;
                background-color: #f2f2f2;
                padding-right: 22px;
                margin-left: 2px;
                height: 383px;
            }/*right*/

            .group_name{
                font-weight: bold;
                font-size: 22px;
                letter-spacing: 2.2px;
                margin-bottom: 23px;
            }/*name*/

            .group_business{
                color: #F79E46;
                font-weight: 900;
                font-size: 20px;
                letter-spacing: 0.5px;
                margin-bottom: 4px;
            }/*group_business*/

            .group_content{
                line-height:1.3 ;
                font-size: 20px;
                letter-spacing: 0.5px;
                margin-bottom: 23px;
            }

            .group_list{
                li{
                    line-height:1.3 ;
                    text-indent: 1.3em;
                    font-size: 20px;
                }
            }/*list*/

          }/*group_table*/

          #first_table{
            margin-top: 54px;
          }

        


      }/*box*/
  }/*content*/


  .contact_wrap{
    margin-bottom: 94px;
    margin-top: 109px;

    @include sp{
      margin-bottom: 70px;
      margin-top: 90px;
    }

    .contact_title{
      font-size: 26px;
      margin-bottom: 36px;
      text-align: center;

      @include tab{
        font-size: 22px;
      }/*tab*/

      @include sp{
        font-size: 20px;
      }

      @include sp-second(){
        font-size: 18px;
      }

    }

    .btn{
        width: 708px;
        margin: 0 auto;
        height: 82px;
  

        @include tab{
          max-width: 700px;
          width: 85%;
          height: auto;
        }

        @include sp{
          width: 80%;
          margin: 0 auto;
        }

        @include sp-second(){
          width: 280px;
        }

        a{
            display: block;
            text-align: center;
            font-size: 24px;
            line-height: 17px;
            color: #222222;
            background-color: #FBD362;
            border-radius: 41px;  
            font-weight: bold; 
            letter-spacing: 1.2px;
            line-height: 82px;
            height: 82px;

            @include tab{
              font-size: 22px;
              height: 75px;
              line-height: 75px;
            }

            @include sp{
              font-size: 20px;
              height: 65px;
              line-height: 65px;
            }

            @include sp-second(){
              font-size: 14px;
              height: 60px;
              line-height:60px;
            }
         
        }/*a*/
    }/*btn*/

    .btn:hover{
      opacity: 0.8;
      transition: .3s;
    }

    .reservation{
        text-align: center;
        margin-top: 42px;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.45px;
    }

    .contact_tel{
        padding-left: 25.6px;
        margin-right: 23px;
        display: flex;
        justify-content: center;
        margin-top: 13px;

        @include sp{
          display: block;
          margin-right: 0px;
          text-align: center;
          padding-left: 0px;
        }

        p{
            color: #F79E46;
            letter-spacing: 2.6px;
            font-weight: bold;
            font-size: 26px;

            @include tab{
              font-size: 20px;
            }

          .number{
            margin-left: 12px;
            font-family: 'Oswald', sans-serif;
            font-weight: 500;
            letter-spacing: 1.4px;
            align-items: center;
            font-size: 28px;


            @include tab{
              font-size: 22px;
            }

            img{
              width: 18px;
              margin-left: 17.4px;
              margin-right: 4px;

              @include tab{
                margin-left: 8px;
                margin-right: 4px;
                width: 14px;
                }


            }/*img*/

          }/*span*/
        }/*p*/
      }/*cotact_tel*/

      #shinjuku{
          margin-right: 18px;


          @include tab{
            margin-right: 12px;
          }

          @include sp{
            margin-right: 0px;
          }
      }/*shinjuku*/

      #yokohama{
        margin-left: 18px;

        @include tab{
          margin-right: 12px;
        }

        @include sp{
          margin: 0 auto;
        }


    }/*yokohama*/



}/*contact_wrap*/


  
  footer{
    background-color: #515B5D;

    .footer_wrap{
      padding-top: 94px;
      padding-bottom: 90px;
      max-width: 992px;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;

      @include pc{
        padding-right:20px;
        padding-left: 0px;
      }

      @include sp{
        display: block;
        padding-right:0px;
        padding-left: 0px;
        width: 300px;
      }

      @include sp{
        padding-top: 40px;
        padding-bottom: 60px;
      }



      .footer_nav{
        ul{

          @include tab{
            margin-left: 15px;
          }

          @include sp{
            margin-top: 10px;
          }

        
          .nav_top_title{
            font-weight: bold;
            margin-bottom: 10px;
            font-size: 18px;
            letter-spacing: 0.45px;

            @include pc{
              font-size: 16px;
            }


          }/*top_title*/

          .nav_title{
            font-weight: bold;
            margin-top: 19px;
            font-size: 18px;
            letter-spacing: 0.45px;
            @include pc{
              font-size: 14px;
              margin-top: 14px;
            }

          }/*top_title*/

          li{
            list-style: none;  
            a{
              display: block;
              color: white;
            }

            a:hover{
              opacity: .7;
            }


          }

          .nav_list{
            line-height: 1.8;
            font-size: 15px;
            letter-spacing: 0.375px;
            @include pc{
              font-size: 12px;
            }

          }/*navlist*/

        }
      }
    }/*wrap*/
  }/*footer*/
}/*body*/
}
