
  footer{
    background-color: #515B5D;

    .footer_wrap{
      padding-top: 94px;
      padding-bottom: 90px;
      max-width: 992px;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;

      @include pc{
        padding-right:20px;
        padding-left: 20px;
      }

      .footer_nav{
        ul{
          .nav_top_title{
            font-weight: bold;
            margin-bottom: 10px;
            font-size: 18px;
            letter-spacing: 0.45px;

            @include pc{
              font-size: 16px;
            }


          }/*top_title*/

          .nav_title{
            font-weight: bold;
            margin-top: 19px;
            font-size: 18px;
            letter-spacing: 0.45px;
            @include pc{
              font-size: 14px;
              margin-top: 14px;
            }
          }/*top_title*/

          li{
            list-style: none;  
            a{
              display: block;
              color: white;
            }

            a:hover{
              opacity: .7;
            }


          }

          .nav_list{
            line-height: 1.8;
            font-size: 15px;
            letter-spacing: 0.375px;
            @include pc{
              font-size: 12px;
            }

          }/*navlist*/

        }
      }

    }/*wrap*/
  }/*footer*/
